<hangman-pause-menu *ngIf="gameService.isPaused()" (close)="closeMenu()"></hangman-pause-menu>
<hangman-game-over *ngIf="!gameService.isGameInProgress()" [winner]="gameService.isWinner()" (playAgainClicked)="playAgain()"></hangman-game-over>

<div class="game-container">
  <div class="image-letters">
    <img class="game-image" [src]="imageGuessStateUrl" />

    <div class="letters">
      <span class="letter" [ngClass]="{ 'space': letter.letter === ' ' }" *ngFor="let letter of wordToGuess">{{letter.masked ? ' ' : letter.letter}}</span>
    </div>
  </div>

  <hangman-keyboard [disabledLetters]="disabledLetters" (letterClicked)="letterClicked($event)"></hangman-keyboard>
</div>
