.leaderboard {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 12px;
}

.leaderboard-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  &:not(.paused) {
    max-width: 50%;
  }

  > mat-card > mat-card-header {
    color: var(--foreground-color);
    justify-content: center;
  }
}
