<hangman-close (onClose)="closeMenu()"></hangman-close>

<div class="leaderboard" *ngIf="leaderboard">
  <div class="leaderboard-score-container" [ngClass]="{ 'paused': isFromPausedScreen }">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Total Player Score</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <table mat-table [dataSource]="playerScoresDataSource">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.date}}</td>
          </ng-container>

          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef>Score</th>
            <td mat-cell *matCellDef="let element">{{element.score}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="leaderboard-score-container" [ngClass]="{ 'paused': isFromPausedScreen }">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Achieved Score</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <table mat-table [dataSource]="achievedScoresDataSource">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.date}}</td>
          </ng-container>

          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef>Score</th>
            <td mat-cell *matCellDef="let element">{{element.score}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
