mat-button-toggle-group.mat-button-toggle-group .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  background-color: var(--primary-color);
  color: var(--primary-color-contrast);
}

mat-dialog-actions.mat-mdc-dialog-actions {
  justify-content: flex-end;
}
