<div class="pause">
  <div *ngIf="!shouldShowSettings && !shouldShowLeaderboard; else showSettings">
    <hangman-close light (onClose)="closeMenu()"></hangman-close>

    <h1 class="title">Game Paused</h1>

    <div class="actions">
      <button type="button" mat-raised-button color="primary" (click)="shouldShowSettings = true; shouldShowLeaderboard = false;">Settings</button>
      <button type="button" mat-raised-button color="primary" (click)="shouldShowLeaderboard = true; shouldShowSettings = false;">Leaderboards</button>
      <a mat-raised-button color="primary" [routerLink]="['/']">Quit</a>
    </div>
  </div>

  <ng-template #showSettings>
    <hangman-settings *ngIf="!shouldShowLeaderboard; else showLeaderboards" [shouldNavigateOnClose]="false" (onClose)="shouldShowSettings = false"></hangman-settings>
  </ng-template>

  <ng-template #showLeaderboards>
    <hangman-leaderboard [isFromPausedScreen]="true" [shouldNavigateOnClose]="false" (onClose)="shouldShowLeaderboard = false"></hangman-leaderboard>
  </ng-template>
</div>
