@use '@angular/material' as mat;
@use 'sass:color';
@use 'sass:map';

// custom styles
@use '/src/assets/theme.scss';
@use '/src/assets/variables.scss';

* {
  scrollbar-width: thin;
  scrollbar-color: var(--divider-color);
  background-color: var(--background-color);
  color: var(--foreground-color);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--divider-color);
}

::-webkit-scrollbar-track {
  background-color: var(--divider-color);
  border-radius: 4px;
  border: 0;
}
