@use 'sass:map';
@use '/src/assets/variables.scss';

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: map.get(variables.$z-index-map, pause);
}

.title {
  font-size: 6rem;
  line-height: 6rem;
  text-transform: uppercase;
}

.header {
  margin-bottom: 0;
}
